@import "../../../../../utils/styles/fonts/_fonts.css";
@import "../../../../../utils/styles/_variables.css";

.home__worker_section {
  width: 100%;
  height: 100%;
  background-image: url("../../../../../../public/images/worker-bg.png");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.home__worker_wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 60px;
}
.home__worker_banner {
  width: 50%;
}
.home__worker_image {
  width: 100%;
  height: 100%;
}
.home__worker_info {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.home__info_header {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.home__info_title {
  font-family: "Fixel-Display";
  font-weight: 700;
  font-size: 34px;
  color: var(--primary);
  line-height: 40px;
}
.home__info_subtitle {
  font-family: "Fixel-Display";
  font-weight: 400;
  font-size: 22px;
  color: var(--white);
  line-height: 30px;
}
.home__info_about {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.home__about_text {
  font-family: "Fixel-Display";
  font-weight: 300;
  font-size: 18px;
  color: var(--white);
  line-height: 24px;
}
.home__info_galery {
  margin-top: 20px;
  position: relative;
}

.home__slider_card {
  position: relative;
}

.home__slider_image {
  width: 100%;
  height: 120px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.swiper-button-disabled svg path {
  stroke: #ff0000;
}
